    .vis.timeline.root {
      border: 2px solid purple;
      font-family:  purisa, 'comic sans', cursive;
      font-size: 12pt;
      background: #ffecea;
    }

    .vis.timeline .item {
      border-color: #F991A3;
      background-color: pink;
      font-size: 15pt;
      color: purple;
      box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
    }

    .vis.timeline .item,
    .vis.timeline .item.line {
      border-width: 3px;
    }

    .vis.timeline .item.dot {
      border-width: 10px;
      border-radius: 10px;
    }

    .vis.timeline .item.selected {
      border-color: green;
      background-color: lightgreen;
    }

    .vis.timeline .timeaxis .text {
      color: purple;
      padding-top: 10px;
      padding-left: 10px;
    }

    .vis.timeline .timeaxis .text.major {
      font-weight: bold;
    }

    .vis.timeline .timeaxis .grid.minor {
      border-width: 2px;
      border-color: pink;
    }

    .vis.timeline .timeaxis .grid.major {
      border-width: 2px;
      border-color: #F991A3;
